*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: plum;
}
div{
    height:100px;
    width:100px;
    background-color: aqua;
    padding:30px;
}
@media screen and (width < 700px){
    div{ 
        padding:10px

    }
}